{% extends 'base.html' %}
{%block content%}
{{ block.super}}

<h1>Awwards</h1>

{% for project in json_projects %}
<img width="50x" height="50px" src="{{user.profile.profile_pic.url }}" alt="image">
<p>{{project.username}}</p>


<h3>
  Title:{{project.title}}
</h3>
<h4>
  project description is {{project.description}}
</h4>
<img width="200px" height="200px" src="{{project.image.url}}" alt="image">
<p>{{project.link}}</p>
<p><a href="{{project.link}}"></a></p>

<p>date:{{project.date_craeted}}</p>
{% endfor %}

{%endblock%}