{% extends 'base.html' %}
{%block content%}
{{ block.super}}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
        alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(16).jpg"
        alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(17).jpg"
        alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% for project in json_projects %}

<div class="container">
  <div class="pt-5 mt-3 pb-3 col-sm-6 col-md-4">

  
    <div class="row">
      <div class="">
        <div class="card-group">
          <div class="card card-personal mb-4">
            <div class="view">
              <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body">
              <!--Title-->
              <a href="{{project.link}}">view site</a>

              <p class="card-text">project description:{{project.description}}</p>

              <hr>
              <span> <img style="border-radius: 50%; width:30px; height:30px; " src="{{project.avatar }}" alt="image">By
                <b>{{project.author}}</b></span>

              <p class="card-meta float-right">{{project.date_craeted}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


{% endfor %}

{%endblock%}